
body.dark-mode {
  background-color: #222;
  color: #ddd;
}

body {
  background-color: #ffffff;
  color: #000000;
  opacity: 0;
}


#board {
	width: 100%;
	height: 100%;
	z-index: 0;
}

.a_color {
	color: #235ccd;
	font-weight: 400;
}

.a_color:hover {
	cursor: pointer;
}

.a_color:active {
	color: rgb(193, 102, 9);
}

a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Arial, sans-serif;
}


#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 10;
	display: none;
}


h1, h2, h3, h4, h5, h6, p {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Arial, sans-serif;
	text-align: center;
}

div {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Arial, sans-serif;
}

#headline {
  margin-top: 40px;
  font-size: 2.2em;
}

#boardText {
  margin-top: 30px;
  font-size: 23px;
  text-align: center;
}



#bottomText {
	margin-top: 2em;
}



#popup {
	width: auto;
	height: auto;
	background: #fff;
	border: 1px solid #aaa;
	position: fixed;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
	z-index: 100;
	display: none;
  border-radius: 4px;
  color: #333;
}

#popup > div:nth-child(1) {
	height: auto;
	padding: 20px;
}

#popup > div:nth-child(2) {
	height: auto;
	padding: 15px;
	background: #ddd;
	text-align: right;
}


#report {
/*  background: #ddd;*/
  background: #efefef;
	padding: 3px 10px;
}



#checkbox {
  margin-top: 7px;
  width: 16px;
}

label {
  display: flex;
}

label > p {
  padding-left: 5px;
}


#bottomText {
  font-size: 15px;
}



/* Container to hold the circles */
.progress-container {
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

/* Circle styling */
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e2781e;
    opacity: 0.3;
    margin-right: 10px;
    animation: progress-animation 2s infinite;
}

/* Delay for each circle to give the step-by-step animation */
.circle:nth-child(1) {
    animation-delay: 0s;
}
.circle:nth-child(2) {
    animation-delay: 0.3s;
}
.circle:nth-child(3) {
    animation-delay: 0.6s;
}

/* Animation: Changing the opacity from left to right and looping */
@keyframes progress-animation {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}





/* ////////// Captcha CSS ////////// */

.captcha-wrapper {
  margin-bottom: 50px !important;
  display: block;
  width: 320px;
  margin: 0 auto;
}


#captcha-wrapper {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 200; /* Above the overlay */
    border-radius: 4px;
    width: auto;
    height: auto;
}

.captcha-container {
  width: 300px;
  height: 33px !important;
  padding: 12px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#error-details .captcha-container .screenshot-container,
#error-details .captcha-container .screenshot-container img,
#recaptcha-widget .alert,
#recaptcha-widget .recaptcha_only_if_audio,
.cookie-error {
  display: none;
}

@media screen and (min-width: 49.2em) {
  #error-details .status-desc:empty,
  #error-details .status-item.error-source:after,
  #error-details .status-item .icon,
  #error-details .status-label,
  #error-details .status-name {
    display: block;
  }

  .wrapper {
    width: 708px;
    padding: -20px;
  }

  #error-banner {
    padding: 20px 20px 25px;
  }

  #error-banner .error-actions {
    margin-bottom: 15px;
  }

  #error-banner .error-header-desc h4 {
    margin-right: 0.5em;
  }

  #error-details h1 {
    font-size: 4em;
  }

  #error-details .highlight {
    padding: 3em 0;
    overflow: hidden;
  }

  #error-details .status-item {
    text-align: center;
  }

  #error-details .status-item,
  #error-details .status-item.column {
    padding-bottom: 0;
  }

  #error-details .status-item + .status-item {
    border: 0;
    padding-top: 0;
  }

  #error-details .status-item + .status-item:before {
    background-position: 0 -544px;
    height: 24.75px;
    margin-left: -37.5px;
    width: 75px;
    background-size: 131.25px auto;
  }

  #error-details .icon-error-container {
    height: 85px;
    margin-bottom: 2.5em;
  }

  #error-details .icon-status {
    bottom: -10px;
    left: 50%;
    top: auto;
    right: auto;
  }

  #error-details .error-footer {
    padding: 2.66667em 0;
  }

  #error-details .footer-item,
  #error-details .footer-separator {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
  }

  #error-details .footer-separator {
    padding: 0 0.25em;
  }

  #error-details .status-item .cloudflare-status:before {
    margin-left: -50px;
  }

  #error-details .status-item .cloudflare-status + .status-item:before {
    margin-left: -25px;
  }

  #error-details .screenshot-container {
    height: 330px;
    margin-bottom: -4em;
    max-width: none;
  }

  #error-details .captcha-container .screenshot-container,
  #error-details .captcha-container .screenshot-container img {
    display: block;
  }
}

@media screen and (min-width: 66em) {
  .wrapper {
    width: 960px;
  }

  #error-banner .close {
    position: relative;
    right: auto;
    top: auto;
  }

  #error-banner .details {
    white-space: nowrap;
  }

  #error-banner .details-link {
    padding-right: 0.5em;
  }

  #error-banner .error-actions {
    float: right;
    margin-bottom: 0;
    text-align: left;
    width: auto;
  }

  #error-details .status-item + .status-item:before {
    background-position: 0 -734px;
    height: 33px;
    margin-left: -50px;
    width: 100px;
    background-size: auto;
  }

  #error-details .status-item .cloudflare-status:before {
    margin-left: -66.67px;
  }

  #error-details .status-item .cloudflare-status + .status-item:before {
    margin-left: -37.5px;
  }

  #error-details .captcha-image {
    float: left;
  }

  #error-details .captcha-actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.captcha-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.checkbox-container {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #fff;
  transition: all 0.2s ease;
  padding-left: 5px;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 100%;
  height: 100%;
  border: 2px solid #6d6d6d;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #3cba54 !important;
  border-color: #3cba54 !important;
  border-radius: 50%;
}

.checkbox-container input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 8px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#checkbox-container :hover {
   cursor: pointer;
}

.captcha-spinner {
  display: none;
  width: 24px;
  height: 24px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3cba54;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.captcha-text {
  color: #232323;
  font-family: -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  margin-left: 12px;
  flex-grow: 1;
  user-select: none;
  margin-top: -1px;
}

.captcha-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 8px;
  line-height: 10px;
}

.captcha-logo {
  width: 78px;
  height: 28px;
  margin-bottom: 2px;
}

.captcha-privacy {
  display: inline-flex;
  justify-content: flex-end;
  gap: 5px;
  margin-right: 7px;
}

.captcha-privacy a {
  color: #232323;
  text-decoration: none;
}

.captcha-privacy a:hover {
  text-decoration: underline;
}



/* Error message outside the box */
.error-message {
  display: none;
  color: #d9534f;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(10px); /* Adds space below the box */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.video1 {
  width: 30px; 
  height: 30px;
  margin-top: -3px;
  margin-left: -3px;
}

.video2 {
  width: 30px; 
  height: 30px;
  margin-top: -3px;
  margin-left: -3px;
  display: none;
}




/* //////////// */
/* mobile_popup */
/* //////////// */
.popup_mobile {
  font-family: Arial, sans-serif;
  display: none;  /* flex */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup_mobile .popup_mobile-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left; /* Align text to the left for better readability */
  width: 100%;
  max-width: 90%; /* Allow for full width on smaller devices */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
}

.popup_mobile .popup_mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between logo and title */
}

.popup_mobile .popup_mobile-h2 {
  color: #333;
  font-size: 20px;
  margin: 0; /* Remove margin for alignment */
  margin-left: 10px; /* Space between logo and title */
}

.popup_mobile .popup_mobile-p {
  font-size: 14px;
  margin-bottom: 10px; /* Reduced margin for better spacing */
  color: #666;
}

.popup_mobile .popup_mobile-note {
  font-size: 12px;
  color: #fbad41; /* Color matching the button for emphasis */
  margin-bottom: 15px;
}

/* Container for input and icon */
.popup_mobile .popup_mobile-input-container {
  position: relative; /* Position relative for absolute positioning of icon */
  width: 100%; /* Full width for input container */
}

.popup_mobile input[type="text"] {
  width: 100%;
  padding: 15px 40px 15px 15px; /* Add padding to the left for icon */
  margin: 10px 0;
  border: 0.5px solid #ccc;
  border-radius: 3px;
  font-size: 16px; /* Larger text for easier readability */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.popup_mobile input[type="text"]:focus {
  border-color: #fbad41; /* Change border color to orange on focus */
  outline: none; /* Remove default outline for a cleaner look */
}

/* Style for the icon */
.popup_mobile .input-icon {
  position: absolute;
  top: 50%; /* Center vertically */
  right: 15px; /* Space from the right edge */
  transform: translateY(-50%); /* Adjust for perfect vertical alignment */
  width: 20px; /* Icon width */
  height: 20px; /* Icon height */
}

.popup_mobile .popup_mobile-button {
  background-color: #ff9900; /* Cloudflare brand color */
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Space above the button */
  transition: background-color 0.3s;
  width: 100%; /* Full width for buttons */
  font-size: 16px; /* Larger text for buttons */
  position: relative; /* Position button normally */
}

.popup_mobile .popup_mobile-button:hover {
  background-color: #cc7a00; /* Darker shade for hover effect */
}

/* New style for the popup_mobile-instruction div */
.popup_mobile .popup_mobile-instruction {
  background-color: hsl(0deg, 0%, 92%);
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px; /* Space above the popup_mobile-instruction box */
  text-align: center; /* Center text within the box */
}

.popup_mobile .popup_mobile-instruction  .popup_mobile {
  width: 100%; /* Make image responsive */
  max-width: 200px; /* Limit max width */
  height: auto; /* Maintain aspect ratio */
}

.popup_mobile .popup_mobile-instruction .popup_mobile-help {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 400px) {
  .popup_mobile .popup_mobile-h2 {
      font-size: 18px; /* Slightly smaller for very small screens */
  }

  .popup_mobile .popup_mobile-note {
      font-size: 10px; /* Smaller popup_mobile-note text for compact view */
  }
}
/* //////////////// */
/* End mobile_popup */
/* //////////////// */